body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#radio-inputs {
    display: flex; 
}

input[type=radio] {
    display: none;
}

img {
    height: 200px;
}

input[type=radio]:checked + img{
    background-color: pink;
}